[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/Akshat-max-dev/glfw.git
[submodule "vendor/ImGui"]
	path = vendor/ImGui
	url = https://github.com/Akshat-max-dev/imgui.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/Akshat-max-dev/glm.git
[submodule "vendor/compressonator"]
	path = vendor/compressonator
	url = https://github.com/Akshat-max-dev/compressonator
[submodule "vendor/Gli"]
	path = vendor/Gli
	url = https://github.com/Akshat-max-dev/gli
